form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
}

.sign-up-link {
  text-decoration: none;
  text-align: right;
  /* TODO color */
}

.login-card {
  max-width: 50%;
  margin: auto;

  mat-form-field {
    padding-bottom: .7em;
  }
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}

