<mat-card class="login-card">
  <mat-card-header class="login-title">
    <div mat-card-avatar class="example-header-image">
      <mat-icon>lock_open</mat-icon>
    </div>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <app-social-login>

    </app-social-login>

    <p class="divider"><span i18n>or</span></p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <label>
          <input matInput [formControl]="emailControl" type="email" placeholder="E-Mail" i18n-placeholder>
        </label>
        <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')" i18n>
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('required')" i18n>
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <label>
          <input matInput [formControl]="passwordControl" type="password" placeholder="Password" i18n-placeholder>
        </label>

        <mat-error *ngIf="passwordControl.hasError('required')" i18n>
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="!loginForm.valid" i18n>Log In</button>
      
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button i18n>Forgot password?</button>
    <a mat-button (click)="onSignUpClicked()" class="sign-up-link" i18n>Sign up here</a>
  </mat-card-actions>
</mat-card>
