* {
    margin-bottom: 0.5em;
}

.login {
    span {
        margin-bottom: 0;
    }
}

.github {
    background-color: #24292f;
    color: white;
    width: 100%;
}

.facebook {
    background-color: #375491;
    color: white;
    width: 100%;
}

.google {
    background-color: #eeefee;
    color: black;
    width: 100%;
}

.brand-logo {
    height: 32px;
    padding: 10px 5px;
    margin: 0;
}
