form {
  display: flex;
  flex-direction: column;
}

form > * {
  width: 100%;
}

.signup-card {
  max-width: 500px;
  margin: auto;

  mat-form-field {
    padding-bottom: .5em;
  }
}

:host ::ng-deep .mat-card-header-text {
  margin: 0;
}

.info-text {
  padding-bottom: 50px;  
}

// TODO make divider a component and encapsulate the style
.divider {
  width: 100%; 
  text-align: center; 
  border-bottom: 1px solid grey; 
  line-height: 0.1em;
  margin: 20px 0 20px; 
  font-size: 14pt;
  color: grey;
  span { 
    background:#fff; 
    padding:0 20px; 
 }
} 