<p>Sign up (WIP)</p>

<form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <label>
      <input matInput [formControl]="usernameControl" placeholder="Username" i18n-placeholder>
    </label>
    <mat-error *ngIf="usernameControl.hasError('required')" i18n>
      Username is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput [formControl]="emailControl" type="email" placeholder="Email" i18n-placeholder>
    </label>
    <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')" i18n>
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailControl.hasError('required')" i18n>
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput [formControl]="passwordControl" type="password" placeholder="Password" i18n-placeholder>
    </label>
    <mat-hint i18n>Password hint</mat-hint>
    <mat-error *ngIf="passwordControl.hasError('required')" i18n>
      Password is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <label>
      <input matInput [formControl]="confirmPasswordControl" type="password" placeholder="Confirm password" i18n-placeholder>
    </label>
  </mat-form-field>

  <button mat-flat-button
          color="primary"
          type="submit"
          [disabled]="!signUpForm.valid"
          i18n>Sign up
  </button>
</form>

<span i18n>Already have an account?</span>
<a (click)="onLoginClicked()"
   class="login-link"
   i18n>Login here</a>
