<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile
    colspan="1"
    rowspan="2"
    class="matcolorprimary">
    <img src="../assets/logo.png" alt="Logo" height="200" width="200">
    <h1 class="header-text">
      GameTracker
    </h1>
    <br/>
  </mat-grid-tile>


  <mat-grid-tile
    colspan="1"
    rowspan="4">
    <img src="../assets/controllerIcon.png" alt="Controller">
    <p>
      A online platform for managing all you games, no matter if you bought them on steam, epic store or any other platform!
    </p>
  </mat-grid-tile>


  <mat-grid-tile
    colspan="1"
    rowspan="4"
    class="matcolorprimary">
    <p>
      Connect with your friends and find out what games you have in common and if you have those games installed.
    </p>
    <img src="../assets/friends.png" alt="Friends">
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="4">
    <img src="../assets/launch.png" alt="Launch">
    <p>
      You can launch your games directly from our platform!
    </p>
  </mat-grid-tile>
</mat-grid-list>
