<mat-grid-list cols="1" rowHeight="100px">
  <mat-grid-tile
    colspan="1"
    rowspan="2"
    class="matcolorprimary">
    <div class="container header direction-row">
      <div class="item">
        <img src="../assets/logo.png" alt="Logo" height="110" width="auto">
      </div>
      <div class="item">
        <h1 class="header-text">
          GameTracker
        </h1>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="3">
    <div class="container direction-row">
      <div class="item">
        <img src="../assets/controllerIcon.png" alt="Controller"  width="300">
      </div>
      <div class ="item">
        <p>A online platform for managing all your games, no matter on which platform you bought them!</p>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="3"
    class="matcolorprimary">
    <div class="container direction-row-reverse">
      <div class="item">
        <img src="../assets/friends.png" alt="Friends" width="300">
      </div>
      <div class ="item">
        <p>Connect with your friends and find out what games you have in common and if you both have them installed.</p>
      </div>
    </div>
  </mat-grid-tile>

  <mat-grid-tile
    colspan="1"
    rowspan="3">
    <div class="container direction-row">
      <div class="item">
        <img src="../assets/launch.png" alt="Launch"  width="300">
      </div>
      <div class ="item">
        <p>You can launch your games directly from our platform!</p>
      </div>
    </div>
  </mat-grid-tile>
</mat-grid-list>
